.navbar {
  background: linear-gradient(rgb(207, 206, 202),rgb(255, 255, 255), rgb(222, 238, 130));
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
    color: purple;
    text-shadow: 0 0 20px #ffffff, 0 0 40px #ffffff;
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand:hover {
    color: #fff;
    filter: drop-shadow(0 0 0.75rem purple);
    text-shadow: 0 0 20px purple, 0 0 40px purple;
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand {
    color: purple;
  }
  
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    text-decoration: none;
    color: purple;
  }
  
  .navbar .navbar-nav .nav-item .nav-link.active {
    background-color: purple;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
  }